@import "compass/typography/vertical_rhythm";

$header-font: "Raleway", "Verdana", sans-serif;
$subhead-font: "Lato", "Verdana", sans-serif;
$body-copy: "Georgia", "Times", serif;

$base-font-size: 18px;
$base-line-height: 24px;
